//
//  opencv-lane-vehicle-track.xcconfig
//  opencv_lane_vehicle_track
//
//  Created by Jaime Rios on 5/20/17.
//  Copyright © 2017 jaimerios.com. All rights reserved.
//


GCC_C_LANGUAGE_STANDARD = c11
CLANG_CXX_LANGUAGE_STANDARD = c++14

LD_RUNPATH_SEARCH_PATHS = @loader_path/

OPENCV_HDR_PATH=/Users/jaimerios/Development/Perforce/jaimerios_Vendors_MBP/OpenCV/3.2.0/mac/include
OPENCV_LIB_PATH=/Users/jaimerios/Development/Perforce/jaimerios_Vendors_MBP/OpenCV/3.2.0/mac/lib
OTHER_CPLUSPLUSFLAGS=-isystem${OPENCV_HDR_PATH}

OTHER_LDFLAGS=${OPENCV_LIB_PATH}/libopencv_core.3.2.0.dylib ${OPENCV_LIB_PATH}/libopencv_objdetect.3.2.0.dylib ${OPENCV_LIB_PATH}/libopencv_imgproc.3.2.0.dylib ${OPENCV_LIB_PATH}/libopencv_highgui.3.2.0.dylib ${OPENCV_LIB_PATH}/libopencv_videoio.3.2.0.dylib
